footer {
    display: block;
    text-align: center;
}

form{
    width: 33%;
}

td {
    display: block;
}
main {
    width: 65%;
    margin-left: 20px;
}

#right{
    float: right;
    width: 25%;
}