body>header {
	background: rgb(219,22,4);
	background: -moz-linear-gradient(left,  rgba(219,22,4,1) 3%, rgba(219,22,4,1) 32%, rgba(12,186,3,1) 32%, rgba(12,186,3,1) 32%, rgba(12,186,3,1) 68%, rgba(23,0,234,1) 68%, rgba(23,0,234,1) 69%);
	background: -webkit-gradient(linear, left top, right top, color-stop(3%,rgba(219,22,4,1)), color-stop(32%,rgba(219,22,4,1)), color-stop(32%,rgba(12,186,3,1)), color-stop(32%,rgba(12,186,3,1)), color-stop(68%,rgba(12,186,3,1)), color-stop(68%,rgba(23,0,234,1)), color-stop(69%,rgba(23,0,234,1)));
	background: -webkit-linear-gradient(left,  rgba(219,22,4,1) 3%,rgba(219,22,4,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 68%,rgba(23,0,234,1) 68%,rgba(23,0,234,1) 69%);
	background: -o-linear-gradient(left,  rgba(219,22,4,1) 3%,rgba(219,22,4,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 68%,rgba(23,0,234,1) 68%,rgba(23,0,234,1) 69%);
	background: -ms-linear-gradient(left,  rgba(219,22,4,1) 3%,rgba(219,22,4,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 68%,rgba(23,0,234,1) 68%,rgba(23,0,234,1) 69%);
	background: linear-gradient(to right,  rgba(219,22,4,1) 3%,rgba(219,22,4,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 32%,rgba(12,186,3,1) 68%,rgba(23,0,234,1) 68%,rgba(23,0,234,1) 69%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db1604', endColorstr='#1700ea',GradientType=1 );
	height: 55px;
	margin-top: 0;
	text-align: center;
	font-size: 35px;
	color: #ff0;
	padding-top: 24px;
	font-family: 

}
body {
	margin: 0;
	background-image: url("colorful_dots_on_black.jpg");
}
section article {
	background-color: rgba(255,255,255,0.9);
	
	border: 1px;
	border-radius: 10px;
	width: 80%;
	float: right;
	margin: 1%;
	padding: 1%;
}
aside {
	background-color: #fff;
	opacity: .9;
	border: 1px;
	border-radius: 10px;
	width: 15%;
	float: left;
	margin-top: 13px;
}
article header {
	margin: 1%;	
}
aside header {
	margin: 1%;
	font-style: bold;
	text-decoration: underline;
	font-weight: bold;	
	font-size: 18px;
	margin-left: 11px;
	vertical-align: bottom;
}
aside ul {
	margin: 0;
}
.headerLeft {
	background-color: red;
	width: 33%;
	float: left;
}
section footer a {
	font-style: italic;
}
#webColors {
	background: #f00;
	width: 98%;
	border-radius: 5px;
	margin-left: 0;
	padding: 1%;
	height: 20px;
	margin-top: 1px;
	color: #fff;
	opacity: 1;


}
article div {	
	
}
ul {
	list-style-type: none;	
}
#webSafeColors {
	background: #ffa500;
	width: 98%;
	border-radius: 5px;
	margin-left: 0;
	padding: 1%;
	height: 20px;
	margin-top: 1px;
	color: #000;
	opacity: 1;
}
#RGB {
	background: #ff0;
	width: 98%;
	border-radius: 5px;
	margin-left: 0;
	padding: 1%;
	height: 20px;
	margin-top: 1px;
	color: #000;
	opacity: 1;
}
#RGBA {
	background: #008000;
	width: 98%;
	border-radius: 5px;
	margin-left: 0;
	padding: 1%;
	height: 20px;
	margin-top: 1px;
	color: #fff;
	opacity: 1;
}
#HSLHSV {
	background: #00f;
	width: 98%;
	border-radius: 5px;
	margin-left: 0;
	padding: 1%;
	height: 20px;
	margin-top: 1px;
	color: #fff;
	opacity: 1;

}
#lorem {
	background: #800080;
	width: 98%;
	border-radius: 5px;
	margin-left: 0;
	padding: 1%;
	height: 20px;
	margin-top: 1px;
	color: #e7f1ff;
	opacity: 1;
}
aside ul a:link {
	color: #000;
}
aside ul a:visited {
	color: #90847d;
}
body aside nav ul li {
	list-style-image: url("check.png");	
	list-style-position: inside;	
}
aside nav ul li a {
	vertical-align: top;
}
aside nav {
	margin-bottom: 7px;
}
article div:first-letter {
	text-transform: uppercase;
	font-size: 36px;
}
article div:first-line {
	font-style: italic;
	line-height: 220%;
}
article a:link {
	color: #000;
}
article a:visited {
	color: #90847d;
}
aside nav ul li a {
	text-decoration: blink;
}
aside nav ul li:nth-child(1):hover {
	background: #f00; 

	border-radius: 10px;
	margin-right: 45px;
	padding-top: 2px;
}
body aside nav ul {
	padding-left: 0;
}
aside nav ul li:nth-child(2):hover {
	background: #ffa500; 

	border-radius: 10px;
	margin-right: 45px;
	padding-top: 2px;
}
aside nav ul li:nth-child(3):hover {
	background: #ff0; 

	border-radius: 10px;
	margin-right: 45px;
	padding-top: 2px;
}
aside nav ul li:nth-child(4):hover {
	background: #008000; 

	border-radius: 10px;
	margin-right: 45px;
	padding-top: 2px;
}
aside nav ul li:nth-child(5):hover {
	background: #00f; 

	border-radius: 10px;
	margin-right: 45px;
	padding-top: 2px;
}
aside nav ul li:nth-child(6):hover {
	background: #800080; 

	border-radius: 10px;
	margin-right: 45px;
	padding-top: 2px;
}