@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Twitter.Web.ViewModels.TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}


<br />
<div class="row">
    @Html.DisplayFor(x => x)
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))