@model Exam.Web.ViewModels.CommentsViewModel

<div class="panel panel-body">
    <span>
        <p><b>@Model.User :</b> @Model.Content </p>
    </span>
    <p><i>Created on: </i>@Model.DataTime</p>
</div>

